@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
    
  
$font-primary: 'Ubuntu', sans-serif;
$font-secondary: 'Ubuntu ',  sans-serif;
$font-size-small: 12px;
$font-size-medium: 16px;
$font-size-large: px;
$font-weight-normal: bold;
$font-weight-bold: 700;
