@import '../../resources/css/variables.scss';

.layout {
  width: 100%;
  .header {
    display: flex;
    justify-content: space-between;
    padding: auto;
    background-color: $primary-brown;
    // width: inherit;
    height: auto;
    .brand {
      width: 2;
    }
    .menu {
    //   margin: 200px;
    //   width: 100%;
    }
  }
}
