@import "../../../resources//css/variables.scss";

.button {
  // background-color: $secondary-green;
  margin: 2%;
  border: 0 ;
  color: $primary-brown;

  & :hover {
    color:  $primary-brown;
  }
  & :active {
    color:  $primary-brown;
  }
}
