/////////////////////////////////////////////////////////*COLOR PALETTE **/////////////////////////////////////////////////////

// Primary  
$primary-green: #598B06;
$secondary-green: #A4BD21;
$light-green: #E3E279;
$dark-green:#203303;


$primary-brown: #68483B;
$dark-brown: #4f362c;
$gradient-brown: rgb(79, 54, 44 ,0.7);

$light-brown: #68483B;


// Neutral
$default: #ffffff;
$light-grey: #d3f0da;
$dark-grey: #b8c2ba;
$black: #000000;
$disable: #84c091;





// Actions

$hover: #66A300;
$active: #81CB07;
$focus: #66A300;
