@import '../resources//css/variables';
.cards_container {
    //  justify-content: space-between;
    width: 100%;
    //  display: flex;
    //  justify-content: center;
    background-color: $dark-green;
    // padding: 20px;
    .row{
        width:inherit;
        margin: 0;
        justify-content: space-evenly;
    }
}


